<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <th scope="row"><a href="/view_company">View registered company</a> </th>
  </tr>
    <tr>
    <th scope="row"><a href="/view_approved_company">View Approved company</a> </th>
  </tr>
  <tr>
    <th scope="row"><a href="/add_fuel">add fuel</a> </th>
  </tr>
     <tr>
    <th scope="row"><a href="/view_fuel">view fuel</a> </th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_user">View user</a> </th>
  </tr><tr>
    <th scope="row"><a href="/user_req">View user Request</a> </th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_complaint">View complaint </a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_feedback">View feedback</a></th>
  </tr>
    <tr>
    <th scope="row"><a href="/logout">Logout</a></th>
  </tr>


</table>
</body>
</html>
