{% extends 'admin/admin_index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1" class="table table-bordered">
  <tr style="background-color: #FEA116;color: black">
    <th scope="row">SL.No</th>
    <td>User info</td>
    <td>Co-Driver info</td>
    <td>Complaint</td>
    <td>Complaint date</td>
    <td>Reply</td>
    <td>Reply date</td>
  </tr>
    {% for i in data %}
  <tr>
    <th scope="row">&nbsp;{{ forloop.counter }}</th>
    <td>&nbsp;{{ i.USER.name }}</td>
    <td>&nbsp;{{ i.driver.name }}</td>
    <td>&nbsp;{{ i.complaint }}</td>
    <td>&nbsp;{{ i.complaint_date }}</td>

      {% if i.reply == "pending" %}
        <td colspan="2"><a href="/send_reply/{{ i.id }}#aaa" class="btn btn-secondary">send Reply</a></td>
      {% else %}
        <td> {{ i.reply }}</td>
        <td> {{ i.reply_date }}</td>
      {% endif %}
  </tr>
    {% endfor %}
</table>
</body>
</html>

{% endblock %}
