{% extends 'admin/admin_index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1" class="table table-bordered">
  <tr style="background-color: #FEA116;color: black">
    <th scope="row">SL.No</th>
    <td>Name</td>
    <td>Email Address</td>
    <td>Phone number</td>
    <td></td>
  </tr>
    {% for i in data %}

  <tr>
      <th scope="row">&nbsp;&nbsp;{{ forloop.counter }}</th>
    <td>&nbsp;{{ i.name }}</td>
    <td>&nbsp;{{ i.email }}</td>
    <td>&nbsp;{{ i.phone}}</td>
      {% if i.LOGIN.usertype == 'user' %}


      <td><p><a href="/block_user/{{i.LOGIN.id  }}" onclick="return confirm('Áre you sure?')" class="btn btn-secondary">BLOCK</a> </p></td>
          {% else %}
          <td><p><a href="/unblock_user/{{ i.LOGIN.id }}" onclick="return confirm('Áre you sure?')" class="btn btn-secondary">UNBLOCK</a></p></td>
        {% endif %}
{#    <td>&nbsp;</td>#}
  </tr>
{% endfor %}
</table>
</body>
</html>

{% endblock %}