{% extends 'admin/admin_index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1" class="table table-bordered">
  <tr style="background-color: #FEA116;color: black">
    <th scope="row">Serial number</th>
    <td>User information</td>
    <td>Driver information</td>
    <td>Feedback</td>
    <td>Feedback date</td>
  </tr>
    {% for i in data %}
  <tr>
    <th scope="row">&nbsp;&nbsp;{{ forloop.counter }}</th>
    <td>&nbsp;{{ i.USER.name}}</td>
    <td>&nbsp;{{ i.driver.name }}</td>
    <td>&nbsp;{{ i.feedback }}</td>
    <td>&nbsp;{{ i.feedback_date }}</td>
  </tr>
    {% endfor %}
</table>
</body>
</html>

{% endblock %}
